/* Fonts */

/* Lalezar  */
@import url('https://v1.fontapi.ir/css/Lalezar');
/* Lalezar */

/* Vazir */
@import url('https://v1.fontapi.ir/css/Vazir');
/* Vazir */

/* Sahel */
@import url('https://v1.fontapi.ir/css/Sahel');
/* Sahel */

/* Fonts */

:root{
    --orange:#e67e22;
    --black:#333;
    --light-color:#777;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: Vazir;
    direction: rtl;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
}

.header {
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;    
    padding:0.5rem 5%;
}

.header .logo {
    text-decoration: none;
    color: var(--black);
    font-size: 1.7rem;
    font-family: Sahel;
}

.header .navbar a{
    color:var(--light-color);
    margin-right: 2rem;
    font-size: 1rem;
    text-transform: capitalize;
}

.header .logo span {
    color: var(--orange);
    font-family: Sahel;

}

.colider {
    border-right: 1px solid #ccc; margin: 0 10px 0 -25px
}

.banner{
    min-height: 80vh;
    background:url(../Images/banner.png) no-repeat;
    background-size: cover;
    background-position: center;    
    display: grid;
    place-items: center;
    padding-top: 1rem;
}

.banner .content{
    text-align: center;
    background:#fff;
    border-radius: .6rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    max-width: 32rem;
    max-height: 15rem;
}

.banner .content h3{
    font-size: 1.7rem;
    color:var(--black);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.banner .content p{
    font-size: 1rem;
    color:var(--light-color);
    padding:0.3rem 0;
    line-height: 1.5;
}

.btn {
    /* margin-top: 1rem; */
    display: inline-block;
    background:var(--black);
    color:#fff;
    border-radius: .5rem;
    padding:.5rem 3rem;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background:var(--orange);
}


.container{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap:1.5rem;
    background:#eee;
}

.container .posts-container .post {
    width:90%;
    padding:1rem;
    background:#fff;
    border:var(--border);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 5rem;
}

.container .posts-container .post .image {
    height: 40rem;
    width:100%;
    height: 450px;
    border-radius: .5rem;
    object-fit: cover;
}

.container .posts-container .post .date {
    padding-top: 1rem;
    font-size: 0.9rem;
    color:var(--orange);
}

.container .posts-container .post .title {
    padding-top: .3rem;
    font-size: 1.5rem;
    color:var(--black);

}

.container .posts-container .post .text {
    color:var(--light-color);
    font-size: 1rem;
    line-height: 1.7;
    padding-top: .4rem;
    padding:.5rem 0;
}

.container .posts-container .links {
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
}

.container .posts-container .links .user {
    /* margin-right: auto;  */
}

.container .posts-container .links .icon {
    padding-right: 1rem;
}

.container .posts-container .links a {
    font-size: .95rem;
    color:var(--light-color);
}

.container .posts-container .links a i {
    padding-right: .2rem;
    color:var(--black);
}

.container .posts-container .links a:hover {
    color:var(--orange);
}

.container .posts-container .links a:hover i {
    color:var(--orange);
}

.container .sidebar .box{
    border:var(--border);
    border-radius: .5rem;
    overflow:hidden;
    background:#fff;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    margin-right: -3rem;
    margin-top: 1.5rem;
}

.container .sidebar .box .title{
    padding:1rem;
    font-size: 1.4rem;
    color:#fff;
    background:var(--black);
    text-transform: capitalize;
}

.container .sidebar .box .about{
    text-align: center;
    padding:1rem 1.5rem;
}

.container .sidebar .box .about img{
    height: 12rem;
    width: 12rem;
    border-radius: 10%;
    object-fit: cover;
}

.container .sidebar .box .about h3{
    color:var(--orange);
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0;
}

.container .sidebar .box .about p{
    color:var(--light-color);
    font-size: 1rem;
    line-height: 1.5;
    padding:0.5rem;
    padding-top: 0;
}

.container .sidebar .box .about .follow{
    padding:1rem 0;
    padding-top: 0;
}

.container .sidebar .box .about .follow a{
    height: 2.7rem;
    line-height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
    background:var(--black);
    color:#fff;
    font-size: 1.2rem;
    margin:0 .1rem;
}

.container .sidebar .box .about .follow a:hover{
    background:var(--orange);
}

.container .sidebar .box .category{
    padding:1rem 1.5rem;
}

.container .sidebar .box .category a{
    padding:.4rem 0;
    font-size: 1.5rem;
    color:var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .sidebar .box .category a span{
    background:var(--light-color);
    color:#fff;
    border-radius: .5rem;
    padding:.5rem;
}

.container .sidebar .box .category a:hover{
    color:var(--orange);
}

.container .sidebar .box .category a:hover span{
    background-color:var(--orange);
}

.container .sidebar .box .p-post{
    padding:1rem 2rem;
}

.container .sidebar .box .p-post a{
    padding:1rem 0;
    display: block;
}

.container .sidebar .box .p-post a h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.container .sidebar .box .p-post a span{
    color:var(--light-color);
    font-size: 1.5rem;
}

.container .sidebar .box .p-post a span i{
    padding-right: .2rem;
}

.container .sidebar .box .p-post a:hover h3{
    color:var(--orange);
}

.container .sidebar .box .tags{
    padding:1rem;
}

.container .sidebar .box .tags a{
    display: inline-block;
    padding:1rem 1.5rem;
    font-size: 1.5rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
    margin:.5rem;
}

.container .sidebar .box .tags a:hover{
    background:var(--black);
    color:#fff;
}

.logo-image {
    width:1%;
    height: 1%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 100px;
}

.footer .credit{
    text-transform: capitalize;
    font-size: 1.2rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .credit span{
    color:var(--orange);
}

.footer .follow{
    padding: 1rem 0;
}

.footer .follow a{
    height:2.7rem;
    line-height:2.7rem;
    width:2.7rem;
    border-radius: 50%;
    font-size: 1.3rem;
    background:var(--black);
    color:#fff;
    margin:0 .1rem;
    text-align: center;
}

.footer .follow a:hover{
    background:var(--orange);
}

